--- 

## Variables

---

Python has five standard data types- </br>

* Number - integer, float, long, complex, boolean
* string
* list
* tuple
* dictionary

Variables can have any names, except for reserved python names such as `class, def, lambda, int` etc

---

### Task

Exchange the value of two variables

```
x = 5
y = 2
```

Exchange the values such that,

```
x = 2
y = 5
```

In [5]:
x = 5
y = 2

---

## Logical and Identity operators

`in`, `not in`, `is`, `is not`, `and`, `or`, `not`

---

### Task

Check if `apple` is present in the given list of fruits

In [2]:
fruits = ["apple", "orange", "peach", "pear", "banana"]

#check if apple is present

A new list of fruits are given, add it to the `fruits` list only if it is not present in the list already.

In [ ]:
newfruits = ["mango", "kiwi", "banana", "tangerine", "orange"]

#add the new fruits to the existing fruits list

--- 

## List vs Tuple

---

`list` is enclosed in `[]` whereas a `tuple` is enclosed in `()`. Both can contain heterogeneous data types, but `tuple` is read-only or immutable.

In [31]:
list_names = ['Maria', 'Antonio', 'Gregorio']

New items can be added to the list using `append`

In [32]:
list_names.append('Juan')
print(list_names)

['Maria', 'Antonio', 'Gregorio', 'Juan']

You can also add items of a different data type

In [33]:
list_names.append(23)
print(list_names)

['Maria', 'Antonio', 'Gregorio', 'Juan', 23]

Individual elements can be accessed by their index, which starts at 0

In [34]:
print(list_names[0])
print(list_names[-1])

Maria
23

-1 can be used to access the last element!

---

### Task

* Slicing a list: print elements 1 to 3 of the list. 
* reverse the list of names

A tuple can be initialised in this way-

In [44]:
tuple_names = ('Maria', 'Antonio', 'Gregorio')

Tuple values cannot be changed! If we try to change like before-

In [46]:
tuple_names[1] = 'Miriam'

TypeError: 'tuple' object does not support item assignment

---

## Dictionary

---

A dictionary can be used for storing heterogeneous data and has a key and corresponding entry. It can be defined by

In [47]:
person = {"name": "Maria", "age": 34, "mobile": 23458991 }

Notice that the keys are always strings! To print keys of a dictionary-

In [48]:
person.keys()

dict_keys(['name', 'age', 'mobile'])

Access the value of a key

In [49]:
person["name"]

'Maria'

Print all keys and their values

In [50]:
person.items()

dict_items([('name', 'Maria'), ('age', 34), ('mobile', 23458991)])

Add a new key value pair to dictionary

In [52]:
person["address"] = "24 Main Street"

---

## Mutable and immutable types

---

Dictionaries and lists are mutable types - their values can be changed. However, whenever  a new copy is never created

In [91]:
a = [1,2,3,4,5]
a[2] = 2
print(a)

[1, 2, 2, 4, 5]

Now copy to another variable

In [92]:
b = a

and change `b`

In [93]:
b[0] = 3
print(b)

[3, 2, 2, 4, 5]

In [94]:
print(a)

[3, 2, 2, 4, 5]

`a` has also changed! Same goes for dictionaries. However you can use the `copy` method to create a new instance

In [95]:
c = a.copy()

In [96]:
c[0] = 1
print(c)
print(a)

[1, 2, 2, 4, 5]
[3, 2, 2, 4, 5]

---

## Task

---

Start with a string `animal = "Cat"`. Replace the first letter of the string `animal` to make it `"Bat"`. Since I know tu eres loco, `animal = "Bat"` is not a valid solution!

In [4]:
animal = "Cat"

---

# Control flows

---

## Conditions - `if`, `else`, `elif`

---

In [1]:
x = 4.3
if x < 5.0:
    print("%3.2f is less than 5.0"%x)
    y = 1.0
elif x == 5.0:
    print("%3.2f is equal to 5.0"%x)
    y = 0.5
else:
    print("%3.2f is greater than 5.0"%x)
    y = 0.0

4.30 is less than 5.0

---

# Loops

---

## `for` loop

The `for` loop in python can loop over any sequence of values, for example a list, set of numbers and so on.

In [4]:
x = [1,2,3,4,5]

In [5]:
for i in x:
    y = i**2 + 3
    print(y)

4
7
12
19
28

Running a loop five times -

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

`enumerate` statement is a highly useful one which gives you the count of the loop as well as the value

In [7]:
for count, i in enumerate(x):
    y = i**2 + 3
    print(count, y)

0 4
1 7
2 12
3 19
4 28

## `while` loop

`while` loops run until a particluar condition is met

In [8]:
count = 1
while count < 100:
    count *= 2
    print("Count is now %d"%count)

Count is now 2
Count is now 4
Count is now 8
Count is now 16
Count is now 32
Count is now 64
Count is now 128

## nested loops

In [11]:
for i in range(len(x)):
    if x[i]%2 == 0:
        print("%d is an even number"%x[i])
    else:
        print("%d is an odd number"%x[i])

x = [[1,2],['a','b'],['I','II']]
for i in range(len(x)):
    for j in range(len(x[i])):
        if i == 1 and j < 2:
            print(x[i][j])

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
a
b

## loop controls

### `break`, `continue`, `pass` and `else`(once again!)

`break` breaks the innermost loop when a condition is met

Find first three even numbers between 1 and 9

In [12]:
even_numbers = []
for n in range(1, 10):
    if (n%2) == 0:
        even_numbers.append(n)
    if len(even_numbers) == 3:
        break

In [13]:
print(even_numbers)

[2, 4, 6]

`continue` continues the loop without carrying out the rest of the statements - for example, the above loop can also be written as

In [14]:
even_numbers = []
for n in range(1, 10):
    #if its odd
    if (n%2) != 0:
        continue
    even_numbers.append(n)
    if len(even_numbers) == 3:
        break

In [15]:
print(even_numbers)

[2, 4, 6]

`pass` is exactly what it means. It does nothing.

In [16]:
even_numbers = []
for n in range(1, 10):
    if (n%2) == 0:
        pass
    if len(even_numbers) == 3:
        break

In [17]:
print(even_numbers)

[]

`else` can also be used with a loop. It runs when the loop is exhausted without breaking. We run the same example but we try to collect 10 even numbers from 1 to 10, which will never happen!

In [19]:
even_numbers = []
for n in range(1, 10):
    if (n%2) == 0:
        even_numbers.append(n)
    if len(even_numbers) == 10:
        break
else:
    print("Loop over, could not collect enough numbers")
    print(even_numbers)

Loop over, could not collect enough numbers
[2, 4, 6, 8]

---

## Task

---

Write a loop which calculates first 6 terms of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number)

In [ ]:
term1 = 0
term2 = 1

for

---

## Line comprehensions

---

Line comprehensions are a very useful tool in python which lets you write simple loops in a line

In [22]:
vals = []
for i in range(5):
    y = i**2 + 3
    vals.append(y)
print(vals)

[3, 4, 7, 12, 19]

Can be translated to

In [23]:
vals = [i**2+3 for i in range(5)]
print(vals)

[3, 4, 7, 12, 19]

Can also have if conditions

In [24]:
even_numbers = []
for n in range(1, 10):
    if (n%2) == 0:
        even_numbers.append(n)
print(even_numbers)

[2, 4, 6, 8]

In [25]:
even_numbers = [n for n in range(1, 10) if n%2 == 0]
print(even_numbers)

[2, 4, 6, 8]

Also if, else statements

replace odd numbers with zero

In [26]:
even_numbers = []
for n in range(1, 10):
    if (n%2) == 0:
        even_numbers.append(n)
    else:
        even_numbers.append(0)
print(even_numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0]

In [27]:
even_numbers = [n if n%2 == 0 else 0 for n in range(1, 10)]
print(even_numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0]